 {% extends 'layout.html' %}
{% block body %}




  <head>
    <title>Stairs - Homepage</title>
  </head>
  <body>
    <div class="jumbotron text-center">
      <div align="center"> 
          <img src="https://i.imgur.com/XRtnOd2.png[/img]" style="width:175px;height:175px;">
      </div>
    <h1>Welcome To STAIRS</h1>
      <br>
    <span class="lead text-left">Sales Trends Analysis Illustration and Recommendation Software (STAIRS) is a business analytic software as a service (SaaS) that allows organizations to graphically visualize their data in order to see growth and trends of their products based on their sales data over a past time-period. It directly integrates itself in the company’s software environment i.e. database and email service to retrieve data automatically and provides vendor support via email. The software utilizes Machine Learning to do predictions of future fluctuations based on the organization’s existing data of its products performances and recommends solutions to improve business performance. With STAIRS you can quickly analyze and view an organization’s current sale standing position and get recommendations to be in a better position.</span>
    </div>
    </body>
{% endblock %}
